/* ---- Backgrounds ---- */

.bg-blur-center {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background: radial-gradient(circle at top, #ff8463, transparent 70%);
  background-color: #111111;
  backdrop-filter: blur(10px);
}

.bg-blur-left-ellipse {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background: radial-gradient(ellipse at left, #ff8463, transparent 50%);
  background-color: #111111;
  backdrop-filter: blur(10px);
}

.bg-blur-buttom-ellipse {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background: radial-gradient(ellipse at bottom, #ff8463, transparent 65%);
  background-color: #111111;
  backdrop-filter: blur(10px);
}

.bg-blur-right-ellipse {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background: radial-gradient(ellipse at right, #ff8463, transparent 45%);
  background-color: #111111;
  backdrop-filter: blur(10px);
}

.bg-transparent-blur {
  background-color: rgba(17, 17, 17, 0.6);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

/* ---- Styles ---- */

.active-block {
  border: 1px solid var(--bg-lion-orange);
  border-right: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: 0 0 11px var(--bg-lion-orange) 4d;
  transition-delay: 0.2s;
}

/* ---- Buttons ---- */

.btn-orange-custom {
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  position: relative;
  background: radial-gradient(141.42% 141.42% at 100% 0%, #ffce9d66, #ffce9d00),
    radial-gradient(
      140.35% 140.35% at 100% 94.74%,
      var(--bg-lion-orange),
      #ff846300
    ),
    radial-gradient(89.94% 89.94% at 18.42% 15.79%, #ffce9d, #ffce9d00);
  box-shadow: 0 1px #ffffffbf inset;
}

.btn-orange-custom:hover {
  color: #e5e5e5;
  background: radial-gradient(141.42% 141.42% at 100% 0%, #ffce9d66, #ffce9d00),
    radial-gradient(
      140.35% 140.35% at 100% 94.74%,
      var(--bg-lion-orange),
      #ff846300
    ),
    radial-gradient(89.94% 89.94% at 18.42% 15.79%, #ffce9d, #ffce9d00),
    radial-gradient(141.42% 141.42% at 100% 0%, #ffce9d66, #ffce9d00),
    radial-gradient(
      140.35% 140.35% at 100% 94.74%,
      var(--bg-lion-orange),
      #ff846300
    ),
    radial-gradient(89.94% 89.94% at 18.42% 15.79%, #ffce9d, #ffce9d00);
  box-shadow: 0 1px #ffffffbf inset;
}

.btn-white-custom {
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  position: relative;
  background: radial-gradient(141.42% 141.42% at 100% 0%, #00000066, #00000000),
    radial-gradient(140.35% 140.35% at 100% 94.74%, #ffffff, #ffffff00),
    radial-gradient(89.94% 89.94% at 18.42% 15.79%, #000000, #00000000);
  box-shadow: 0 1px #ffffffbf inset;
}

.btn-white-custom:hover {
  color: #e5e5e5;
  background: radial-gradient(141.42% 141.42% at 100% 0%, #00000066, #00000000),
    radial-gradient(140.35% 140.35% at 100% 94.74%, #ffffff, #ffffff00),
    radial-gradient(89.94% 89.94% at 18.42% 15.79%, #000000, #00000000),
    radial-gradient(141.42% 141.42% at 100% 0%, #00000066, #00000000),
    radial-gradient(140.35% 140.35% at 100% 94.74%, #ffffff, #ffffff00),
    radial-gradient(89.94% 89.94% at 18.42% 15.79%, #000000, #00000000);
  box-shadow: 0 1px #ffffffbf inset;
}

/* ---- Blocks ---- */

.blocks {
  position: relative; /* Asegúrate de que la posición sea relativa para el efecto de sombra */
  transition: box-shadow 0.3s ease; /* Transición suave para la sombra */
}

.blocks:hover {
  box-shadow: 0 0 10px var(--bg-lion-orange), 0 0 20px var(--bg-lion-orange); /* Sombra al hacer hover */
}

/* Clase para la sombra inicial, que será invisible hasta el hover */
.blocks {
  box-shadow: 0 0 0 transparent; /* Sin sombra inicialmente */
  transition: box-shadow 0.5s ease; /* Transición suave para la sombra */
}

/* Para mostrar la sombra durante el hover */
.blocks:hover {
  box-shadow: 0 0 10px var(--bg-lion-orange), 0 0 20px var(--bg-lion-orange); /* Sombra al hacer hover */
}
