@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");

* {
  font-size: 17px;
}

.bg-dark-logo {
  background-color: #111111;
}

.bg-dark-blue {
  background-color: #2b2b2b;
}

.bg-black-blue {
  background-color: #111b21;
}

.text-degradient {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;

  --bg-size: 400%;
  --color-one: #42d392;
  --color-two: #647eff;

  background: linear-gradient(
      90deg,
      var(--color-one),
      var(--color-two),
      var(--color-one)
    )
    0 0 / var(--bg-size) 100%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: move-bg 5s infinite linear;
}

.title-degradient {
  font-family: "Montserrat", sans-serif;
  line-height: 1.25;
  font-weight: 900;
  letter-spacing: -1.5px;
  background: -webkit-linear-gradient(left, #42d392 25%, #647eff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  transition: color 0.5s;
  font-size: 30px;
  margin: 24px auto 40px;
}

.description-gradient {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  transition: color 0.5s;
  margin: 24px auto 40px;
}

.img-dashboard {
  transition: filter 2s;
  filter: brightness(0.75) contrast(1) sepia(0.7) hue-rotate(-5deg)
    saturate(3.5);
}

.img-dashboard:hover {
  transition: filter 2s;
  filter: none;
}

.list-group-item-dark {
  color: #ffffff !important;
  background-color: #111111 !important;
}

.list-group-item-dark:hover {
  color: #ffffff !important;
  background-color: #232323 !important;
}

.list-group-item-dark.list-group-item-action.active {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}

@keyframes move-bg {
  to {
    background-position: var(--bg-size) 0;
  }
}

@media (min-width: 0px) and (max-width: 575px) {
  .text-degradient {
    font-size: 35px;
  }

  .description {
    font-size: 17px;
    margin: 18px 0 30px;
    line-height: 1.2;
    justify-content: center;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .text-degradient {
    font-size: 40px;
  }

  .description {
    font-size: 20px;
    margin: 18px 0 30px;
    line-height: 1.4;
    justify-content: center;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .text-degradient {
    font-size: 45px;
  }

  .description {
    font-size: 23px;
    margin: 18px 0 30px;
    line-height: 1.5;
    justify-content: center;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .text-degradient {
    font-size: 50px;
  }

  .description {
    font-size: 26px;
    margin: 18px 0 30px;
    line-height: 1.5;
    justify-content: center;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .text-degradient {
    font-size: 55px;
  }

  .description {
    font-size: 29px;
    margin: 18px 0 30px;
    line-height: 1.5;
    justify-content: center;
  }
}
