@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  padding: 0;
  background-color: #111111
}

.text-title-principal{
  color: #FFCE9D;
  background-image: -webkit-linear-gradient(0deg, #FFCE9D 28%, #FF8463 59%, #ff714a 81%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

/* Scrollbar */
body {
  --sb-track-color: #232E33;
  --sb-thumb-color: #ff8463;
  --sb-size: 10px;

  scrollbar-color: var(--sb-thumb-color)
                   var(--sb-track-color);
}

::-webkit-scrollbar {
  width: var(--sb-size)
}

::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;

  }
