/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

.bg-dark-blue {
    background-color: #2B2B2B;
}

.bg-black-blue {
    background-color: #111B21;
}

.text-degradient {
    /* font-family: 'Ubuntu Condensed', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    line-height: 1.25;
    font-weight: 900;
    letter-spacing: -1.5px;
    background: -webkit-linear-gradient(left, #42d392 25%,#647eff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.description {
    /* font-family: 'Ubuntu Condensed', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    transition: color .5s;
    font-size: 22px;
    margin: 24px auto 40px;
}

@media (max-width: 576px) {
    .description {
        font-size: 16px;
        margin: 18px 0 30px;
    }
}

@media (max-width: 768px) {
    .text-degradient {
        font-size: 48px;
        letter-spacing: -.5px;
    }
}

@media (max-width: 960px) {
    .text-degradient {
        font-size: 50px;
        letter-spacing: -.5px;
    }

    .description {
        font-size: 18px;
        margin-bottom: 48px;
    }
}